<html>

<head>
</head>


<body>

<form method="post" action="/cadastarProd">
		qtdProduto:  	<input type="number" name="qtdProduto"><br>
		codBarras: 		<input type="text" name="codBarras"><br>
		categoria: 		<input type="number" name="categoria"><br>
		fornecedor: 	<input type="text" name="fornecedor"><br>
		incluidoPor: 	<input type="text" name="incluidoPor"><br>
		produtoNome: 	<input type="text" name="produtoNome"><br>
		dataCadastro: 	<input type="date" name="dataCadastro"><br>
		descricao: 		<input type="text" name="descricao"><br>
		
			  <input  type="submit" value="salvar">
	</form>


<body>
</html>
